body {
	background-color: #e6e6e6;
	font-family: 'Bahnschrift Light', 'Candara', 'FreeSans', 'Sans-Serif';
}

.content {
	width: 60%;
	margin: auto;
	padding-top: 25px;
}

.profile {
	background-color: #990000;
	color: #e6e6e6;
    	border-bottom: 3px solid #cc0000;
	padding: 25px 185px 25px 0;
	font-family:'Garamond', 'EB Garamond', 'Serif';
}

.profile h1, h2 {
	display: inline;
}

.profile img {
	float: left;
	padding: 25px 15px 0 15%;
}

.clear { 
	clear: both; 
}

nav ul, footer ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 50px 0 0 0;
  	overflow: hidden;
	margin: auto;
    	width: 60%; 
}

nav ul li, footer ul li {
  	display: inline;
  	float: left;
}

footer ul li {
	margin-right: 20px;
}

footer {
    	border-top: 2px solid #990000;
    	font-size: .8em;
	width: 60%;
	margin: auto;
}

nav li a {
 	text-decoration: none;
  	color: #808080;
  	display: block;
  	text-align: center;
  	padding: 15px 15px;
}

nav li a:hover {
  	background-color: #990000;
  	color: #ffffff;
  	display: block;
  	text-decoration: none;
}

a {
	text-decoration: none;
	color: #990000;
}

h1 {
    	font-size: 3.5em;
}

h2 {
	font-size: 2em;	
}

.cv span {
	font-style: italic; 
	font-size: 16px; 
	color: #808080; 
	font-weight: normal;
	float: right;
	padding: 0 20px 0 0;
}

dt { 
	font-weight: bold; 
	font-size: 20px;
	font-family:'Garamond', 'EB Garamond', 'Serif';
	text-align: right; 
	padding: 10px 20px 40px 0; 
	width: 20%; 
	float: left; 
	height: auto; 
	border-right: 2px solid #990000;  
}

dd {
	overflow: hidden;
	padding: 10px 0 10px 20px;
}

dd h3 {
	margin: -0.5px 0;
	font-family:'Garamond', 'EB Garamond', 'Serif';
	font-weight: bold;
}

.cv p {
	font-size: 1em;
	margin: -0.5px 20px;
}

p {
    	font-size: 1.5em;
    	line-height: 1.4em;
}
