<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    	<ul>
	        <li><a href="/">Home</a></li>
	        <li><a href="/CV">CV</a></li>
	        <li><a href="/projects">Projects</a></li>
          <li><a href="/ra">Research Assistantships</a></li>
	    	</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    	<ul>
	        <li><a href="mailto:oliver2@ualberta.ca">oliver2@ualberta.ca</a></li>
				</ul>
			</footer>
		</body>
	</html>
